/*#9cd6c8, #f1ffcf, #f8df82, #fac055, #e57c3a*/
/* essa #876445, #CA965C, #EEC373, #F4DFBA*/

:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #F4DFBA;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}

/* header */
.header {
    background-color: #CA965C;
    border-bottom: 3px solid #876445;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner */
.banner .container{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    background-color: #EEC373;
    justify-content: space-around;
    border-left: 3px solid #CA965C;
    border-right: 3px solid #876445;
    border-bottom: 3px solid #876445;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#imgBanner{
    height: 400px;
    border: 3px solid #CA965C;
    border-right: 3px solid #876445;
    border-bottom: 3px solid #876445;   
    border-radius: 30px;
}
#textoBanner{
    width: 40%;
    font-size: 30px;
    font-weight: bolder;
    color: beige;
    background-color: #CA965C;
    border-radius: 30px;
    padding: 30px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#textoBanner button{
    border: none;
    background-color: #876445;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

/*especie*/
.especies .container{
    
    display: flex;
    flex-direction: column;

}
.linhaEspecie{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.caixaEspecie{
    
    cursor: pointer;
    background-color: #EEC373;
    margin: 10px;
    
    border: 3px solid #CA965C;
    border-bottom: 3px solid #876445;
    border-right: 3px solid #876445;
    border-radius: 30px;
    width: 26%;
    height: 280px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.caixaEspecie img{
    width: 90%;
    border-radius: 100%;
    margin: 5%;
    border: 3px solid #CA965C;
    border-bottom: 3px solid #876445;
    border-right: 3px solid #876445;
}
.caixaEspecie div{
    font-size: 20px;
    font-weight: bolder;
    color:#5f452f;
}

/* footer */
.footer {
    background-color: #CA965C;
    height: 150px;
    color: #F4DFBA;
    display: flex;
    font-size: 15px;
    border-top: 3px solid #876445;
}
  
.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.footerBar{
    list-style: none;
    font-weight: bold;
}

.footerBar a{
    text-decoration: none;
    color: #F4DFBA;
}
/*
bicho
*/
.bicho .container{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    color: #876445;
    font-weight: bolder;
    align-items: center;
    font-size: 40px;
    background-color: #EEC373;
    justify-content: space-around;
    border-left: 3px solid #CA965C;
    border-right: 3px solid #876445;
    border-bottom: 3px solid #876445;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bicho .container img{
    height: 400px;
    border: 3px solid #CA965C;
    border-right: 3px solid #876445;
    border-bottom: 3px solid #876445;   
    border-radius: 30px;
}
.bichoTitulo{
    padding-right: 5%;
}
/*cuidados*/
.cuidados .container{
    
    display: flex;
    flex-direction: column;

}
.linhaCuidado{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.caixaCuidado{
    background-color: #EEC373;
    margin: 10px;
    
    border: 3px solid #CA965C;
    border-bottom: 3px solid #876445;
    border-right: 3px solid #876445;
    border-radius: 30px;
    width: 30%;
    height: 340px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.caixaCuidado img{
    width: 80%;
    border-radius: 100%;
    margin: 5%;
    border: 3px solid #CA965C;
    border-bottom: 3px solid #876445;
    border-right: 3px solid #876445;
}
.caixaCuidado div{
    font-size: 20px;
    font-weight: bolder;
    color:#5f452f;
}
/* login */

.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #CA965C;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #F4DFBA;
    background-color: #876445;
    width: fit-content;
    align-self: center;
    margin-top: 5px;
  }
  
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

  .login .container{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    width: fit-content;
    margin-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #EEC373;
    justify-content: space-around;
    border-left: 3px solid #CA965C;
    border-right: 3px solid #876445;
    border-bottom: 3px solid #876445;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#textoBanner{
    width: 40%;
    font-size: 30px;
    font-weight: bolder;
    color: beige;
    background-color: #CA965C;
    border-radius: 30px;
    padding: 30px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid #876445;
}
#textoBanner button{
    border: none;
    background-color: #876445;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

button {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.donate .container{
    margin-bottom: 20px;
    flex-direction: column;
    width: 40%;
}
.donate .container p{
    font-size: 25px;
    text-align: center;
}
  
.alinhamento{ 
    width: 80% ; 
    border-bottom: 2px solid #876445;
}

.alinhar{
    display:flex;
    justify-content: center;
    align-items: center;
}